# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# Project artifacts
logs/
outputs/
*.hdf5

# IDE
.vscode/
.idea/
